<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo</title>
</head>
<body>
    <header>
        <div class="navbar">
        <a id = "home"href="#">Home </a>
        <span>|</span><a  href="#aboutus">About Us</a></li>
       </div> 
    </header>
</body>
</html>