<%- include('partials/header.ejs') %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo</title>
    <link href="styles/styles.css" rel="stylesheet" />

</head>
<body>
   <div class="title">
    <h1><%= listTitle %></h1>
    </div>
        <% for( let i = 0; i < newitems.length; i++ ) { %>
            <div class="container">
                <div class="item">

                        <input type="checkbox">

                        <p>
                            <%= newitems[i] %>
                        </p>
                    
                  </div>
            </div>
        <% } %>
    <form action="/" class="form" method="post">
        <div class="container">
            <input type="text" name="newItem" placeholder="New Item" autocomplete="off" />
            <button type="submit" name="list" value=<%=listTitle %> >+</button>
        </div>
    </form>
</body>
</html>
